body {
    font: 15px/normal Garamond, Palatino, sans-serif;
    padding: 0;
    margin: 0;
    background-color: plum;
}

/*
Global
 */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

.button_1 {
    height: 36px;
    background: aqua;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: crimson;
}

.dark {
    padding: 15px;
    background: darkblue;
    color: navajowhite;
    margin-top: 10px;
    margin-bottom: 10px;
}

.light {
    padding: 15px;
    background: aquamarine;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
Header
 */

header {
    background: moccasin;
    color: black;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: chartreuse 3px solid;
}

header a {
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header#branding {
    float: left;
}

header#branding h1 {
    margin: 0;
}

header nav {
    margin-top: 10px;
    float: right;
}

header .highlight, header .current a{
    color: crimson;
    font-weight: bold;
}

header a:hover {
    color: antiquewhite;
}

/*
Showcase
 */

#showcase {
    min-height: 500px;
    background: url(https://www.claytonhotelgalway.ie/wp-content/uploads/cliffs-of-moher.jpg) no-repeat 50% -200px;
    text-align: center;
    color: beige;
}

#showcase h1 {
    margin-top: 200px;
    font-size: 55px;
    margin-bottom: 10px;
}

/*
Newsletter
 */
#newsletter {
    padding: 10px;
    color: whitesmoke;
    background: crimson;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 10px
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*
Boxes
 */

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img {
    height: 90px;
}

/*
Sidebar
 */

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

/*
Main-col
 */
article#main-col {
    float: left;
    width: 65%;
}

footer {
    padding: 20px;
    margin-top: 50px;
    color: antiquewhite;
    background-color: crimson;
    text-align: center;
}